

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black !important;
}

.fondo {
    background-color: grey;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    color: #fff;
    transition: color 0.3s ease;
}

.texto:hover {
    color: #00bfff;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


.mi-navbar .nav-link,
.mi-navbar .navbar-brand {
  color: #fff !important; 
  transition: color 0.3s ease !important; 
}

.mi-navbar .nav-link:hover,
.mi-navbar .navbar-brand:hover {
  color: #00bfff !important; 
}


